body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  max-width: 40rem;
  padding: 2rem;
  margin: auto;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.inline > * {
  display: inline;
}
pre {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
