---
layout: default
---

<a href="/">&larr; back to homepage</a>

<div class="content">
  <div class="post">
    <h2>{{ page.title }}</h1>

    {% assign words = content | number_of_words %}

    <span>
      <i>
        published on {{ page.date | date_to_string }},

        {% if words < 360 %}
          1
        {% else %}
          {{ words | divided_by:180 }}
        {% endif %}

        minute read
      </i>
    </span>

    {{ content }}
  </div>
</div>

<a href="/">&larr; back to homepage</a>
